.page-reset .r-width-13qz1uu {
    width: auto !important;
  }

.page-reset  .r-height-1pi2tsx {
    height: auto !important;
}
/* 
.page-reset.r-left-1d2f490 {
    left: auto !important;
} */


.page-reset .r-position-u8s1d {
    position: inherit;
}
.page-reset .camera-button .r-position-u8s1d {
    position: absolute;
    bottom: 2.5%;
    
}

/* 
.page-reset-detail .r-position-u8s1d {
    position: absolute;
} */

.page-reset-detail .css-text-146c3p1 {
    display: block;
}

/* .page-reset .r-marginBottom-8d26hk {
    margin-bottom: 0px;
}
*/
